<div
  class="dark:bg-slate-800 flex pt-12 px-6 md:px-20 items-center justify-center bg-hero md:h-screen overflow-hidden">
  <div class="flex flex-col gap-6 md:flex-row items-center max-w-8xl">
    <div class="w-full md:w-1/2 lg:pr-32">
      <h2
        class="mt-20 text-4xl lg:text-5xl text-center md:text-left md:mt-0 text-blue-900 dark:text-white leading-tight font-medium">
        Aquí podremos conocernos un poco mejor.
      </h2>
      <h3
        class="mt-6 md:mt-10 text-md lg:text-xl text-center md:text-left text-gray-700 dark:text-white font-light tracking-wider leading-relaxed">
        Estudie antropología en la universidad complutense. Al acabar decidí dar
        un cambio a mi vida y reconvertirme a programador. Tengo experiencia en
        Desarrollo Web, y más concretamente en desarrollo frontend. Actualmente
        vivo en Madrid, España.
      </h3>
      <div
        class="mt-10 flex flex-col sm:flex-row justify-center md:justify-start">
        <button
          class="w-full sm:w-40 px-4 py-3 rounded font-semibold text-md bg-blue-500 text-white border-2 border-blue-500">
          Empieza
        </button>
        <button
          class="w-full mt-4 sm:mt-0 sm:ml-4 sm:w-40 px-4 py-3 rounded font-semibold text-md bg-white text-blue-500 border-2 border-gray-500 dark:border-white">
          Ver Demo
        </button>
      </div>
    </div>
    <div class="w-full md:w-1/2 justify-center md:justify-end hidden md:flex">
      <img class="rounded" [src]="heroImg" />
    </div>
  </div>
</div>
