<div class="relative min-h-screen md:flex">
  <!-- sidebar -->
  <div
    class="sidebar  bg-teal-600 dark:bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 dark:bg-slate-700 text-blue-100 w-35 max-w-35 space-y-6 py-7 px-2 absolute inset-y-0 left-0 transform -translate-x-full md:relative md:translate-x-0 transition duration-200 ease-in-out">

    <!-- logo -->
    <a href="#" class="text-white flex items-center space-x-2 px-4">
      <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z" />
      </svg>
      <span class="text-2xl font-extrabold">Better Dev</span>
    </a>
    <div class=" w-full h-px max-w-6xl mx-auto my-20" style="background-color: white;">
    </div>
    <!-- nav -->
    <nav>
      <a routerLink="home/hero" routerLinkActive="active" ariaCurrentWhenActive="page"
        class="font-bold block py-2.5 px-4 rounded transition duration-200 hover:underline  hover:-translate-x-0.5  hover:skew-y-1">
        <fa-icon class="mr-2" [icon]="faHome"></fa-icon>
        Inicio
      </a>
      <a routerLink="/home/about" routerLinkActive="active" ariaCurrentWhenActive="page"
        class="font-bold block py-2.5 px-4 rounded transition duration-200 hover:underline hover:-translate-x-0.5 hover:skew-y-1">
        <fa-icon class="mr-5" [icon]="faPerson"></fa-icon>Sobre mi
      </a>
      <a routerLink="/home/proyects" routerLinkActive="active" ariaCurrentWhenActive="page"
        class=" font-bold block py-2.5 px-4 rounded transition duration-200 hover:underline hover:-translate-x-0.5 hover:skew-y-1">
        <fa-icon class="mr-2" [icon]="faNetworkWired"></fa-icon>Proyectos
      </a>
    </nav>

    <div class="w-11/12 max-w-full absolute bottom-0 text-white ">
      <div class="h-px   mb-4 " style="background-color: white;">
      </div>
      <div class="grid grid-cols-2 gap-4 my-4">
        <button class="px-2" (click)="toggleDarkTheme()">
          <fa-icon *ngIf="darkThemeEnabled" [icon]="faMoon"></fa-icon>
          <fa-icon *ngIf="!darkThemeEnabled" [icon]="faSun"></fa-icon>
        </button>
        <button class="px-2 font-bold  hover:text-red-50 focus:bg-sky-700 " routerLink="/admin-panel/login">
          <fa-icon [icon]="faUserNinja"></fa-icon>
        </button>
      </div>

    </div>
  </div>

</div>
