<div class="relative flex h-screen">
  <img
    [src]="heroImg"
    alt="Foto Jose"
    class="h-full w-full object-cover object-center animated" />
  <div class="absolute top-1/2 left-10 max-w-full md:left-20">
    <div class="text-white name md:text-5xl py-4 font-bold">
      Hey, soy José Franco Nieto
      <!-- <span class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-green-900 dark:text-green-300 ">Disponible para trabajar</span> -->
    </div>
    <div
      class="bg-white title text-2xl sm:text-7xl font-bold text-black mix-blend-screen px-10 py-5 rounded">
      Front End Developer
    </div>
  </div>
</div>
