img.animated {
  animation: filter-animation 10s infinite;
}

.name {
  color: white;
}

.title {
  background-color: white;
}

@keyframes filter-animation {
  0% {
    filter: sepia(0) saturate(2) blur(1px);
  }

  50% {
    filter: sepia(1) saturate(8) blur(1px);
  }

  100% {
    filter: sepia(0) saturate(2) blur(1px);
  }
}
