<div class="relative flex h-screen">
  <img
    src="https://images.unsplash.com/photo-1520350094754-f0fdcac35c1c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"
    alt="image" class="h-full w-full object-cover object-center" />
  <div class="absolute top-1/2 left-10 max-w-full md:left-20">
    <div class=" text-white md:text-5xl py-4">José Franco Nieto </div>
    <div class="bg-white text-7xl font-bold text-black mix-blend-screen px-10 py-5 rounded ">Front End Developer</div>
  </div>
</div>
